body {
  height: 100%;
  background-image: url("../images/205.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1120px) {
  body {
    background-color: black;
    background-image: none;
  }
}
#input {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

#weather {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  color: white;
}

.icon {
  max-width: 50%;
  margin: auto;
}

.card {
  margin-left: 2.5%;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

#city {
  text-align: center;
  margin-top: 2%;
}

.averageTemp {
  font-size: 2em;
}

.card-header {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#cityInput {
  margin-bottom: 1.5%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-bottom: 1px solid orange;
  height: 10%;
  width: 40%;
  font-size: 100%;
  font-weight: bold;
}

#cityInput:hover {
  background-color: rgba(204, 204, 204, 0.5);
  color: black;
}

#countryCode {
  margin-bottom: 1%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-bottom: 1px solid orange;
  height: 10%;
  width: 40%;
  font-size: 100%;
  font-weight: bold;
}

#countryCode:hover {
  background-color: rgba(204, 204, 204, 0.5);
  color: black;
}

#celcius {
  margin: 20px;
  margin-right: 5px;
  box-shadow: inset 0px -3px 7px 0px #da8e00;
  background: linear-gradient(to bottom, #ffbf00 5%, #cca20c 100%);
  border: 1px solid #0b0e07;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

#celcius:hover {
  background: linear-gradient(to bottom, #cca20c 5%, #ffbf00 100%);
  background-color: #cca20c;
}

#celcius:disabled {
  box-shadow: inset 0px -3px 7px 0px #543602;
  background: linear-gradient(to bottom, #594100 5%, #664f04 100%);
  background-color: #594100;
}

#fahrenheit {
  margin: 20px;
  margin-left: 5px;
  box-shadow: inset 0px -3px 7px 0px #da8e00;
  background: linear-gradient(to bottom, #ffbf00 5%, #cca20c 100%);
  border: 1px solid #0b0e07;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

#fahrenheit:hover {
  background: linear-gradient(to bottom, #cca20c 5%, #ffbf00 100%);
  background-color: #cca20c;
}

#fahrenheit:disabled {
  box-shadow: inset 0px -3px 7px 0px #543602;
  background: linear-gradient(to bottom, #594100 5%, #664f04 100%);
  background-color: #594100;
}

#run {
  margin-top: 20px;
  box-shadow: inset 0px -3px 7px 0px #da8e00;
  background: linear-gradient(to bottom, #ffbf00 5%, #cca20c 100%);
  border: 1px solid #0b0e07;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

#run:hover {
  background: linear-gradient(to bottom, #cca20c 5%, #ffbf00 100%);
  background-color: #cca20c;
}

/*# sourceMappingURL=style.css.map */
